.div1 {
  width: 400px;
  height: 600px;
  border: 1px black solid;
  margin: 100px auto;
  position: relative;
}
.div1 .div2 {
  background-color: red;
  width: 200px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
